import React from 'react';
import { render, screen } from '@testing-library/react';
import { BrowserRouter as Router, Routes, Route } from 'react-router-dom';
import App from '../App';

{% for component in components %}
import {{ component.name }}Table from '../components/{{ component.name }}Table';
import {{ component.name }}Form from '../components/{{ component.name }}Form';
import {{ component.name }}View from '../views/{{ component.name }}View';
import {{ component.name }}Detail from '../components/{{ component.name }}Detail';
{% endfor %}

describe('App Component Tests', () => {
  it('renders the App component without crashing', () => {
    render(
      <Router>
        <App />
      </Router>
    );
    expect(screen.getByText(/App/i)).toBeInTheDocument();
  });

  {% for component in components %}
  it('renders {{ component.name }}View route', () => {
    render(
      <Router>
        <Routes>
          <Route path="/{{ component.name | lower }}/view" element={<{{ component.name }}View />} />
        </Routes>
      </Router>
    );
    expect(screen.getByText(/{{ component.name }} View/i)).toBeInTheDocument();
  });

  it('renders {{ component.name }}Table route', () => {
    render(
      <Router>
        <Routes>
          <Route path="/{{ component.name | lower }}/table" element={<{{ component.name }}Table />} />
        </Routes>
      </Router>
    );
    expect(screen.getByText(/Actions/i)).toBeInTheDocument();
  });

  it('renders {{ component.name }}Form route', () => {
    render(
      <Router>
        <Routes>
          <Route path="/{{ component.name | lower }}/form" element={<{{ component.name }}Form id={null} />} />
        </Routes>
      </Router>
    );
    expect(screen.getByText(/Submit/i)).toBeInTheDocument();
  });

  it('renders {{ component.name }}Detail route', () => {
    render(
      <Router>
        <Routes>
          <Route path="/{{ component.name | lower }}/detail/:id" element={<{{ component.name }}Detail />} />
        </Routes>
      </Router>
    );
    expect(screen.getByText(/Details/i)).toBeInTheDocument();
  });
  {% endfor %}
});
