import React from 'react';
import { BrowserRouter as Router, Routes, Route } from 'react-router-dom';

{% for component in components %}
import {{ component.name }}Table from './components/{{ component.name }}Table';
import {{ component.name }}Form from './components/{{ component.name }}Form';
import {{ component.name }}View from './views/{{ component.name }}View';
import {{ component.name }}Detail from './components/{{ component.name }}Detail';
{% endfor %}

function App() {
  return (
    <Router>
      <div className="App">
        <Routes>
          {% for component in components %}
          {/* Main Views */}
          <Route path="/{{ component.name | lower }}/view" element={<{{ component.name }}View />} />

          {/* List, Form, and Detail Routes */}
          <Route path="/{{ component.name | lower }}/table" element={<{{ component.name }}Table />} />
          <Route path="/{{ component.name | lower }}/form" element={<{{ component.name }}Form id={null} />} />
          <Route path="/{{ component.name | lower }}/form/:id" element={<{{ component.name }}Form />} />
          <Route path="/{{ component.name | lower }}/detail/:id" element={<{{ component.name }}Detail />} />
          {% endfor %}
        </Routes>
      </div>
    </Router>
  );
}

export default App;
