from flask import Flask
from flask_cors import CORS
from app.models import db
from flask_migrate import Migrate
{% for entity in entities %}
from app.controllers.{{ entity.name.lower() }}_controller import {{ entity.name.lower() }}_bp
{% endfor %}

def create_app(config_name='default'):
    app = Flask(__name__)
    if config_name == 'testing':
        app.config.from_object('config.TestingConfig')
    else:
        app.config.from_object('config.DevelopmentConfig')

    # Apply CORS with the allowed origins from the configuration
    CORS(app, origins=app.config["CORS_ALLOWED_ORIGINS"])

    db.init_app(app)
    migrate = Migrate(app, db)  # Initialize Flask-Migrate

    # Register blueprints
    {% for entity in entities %}
    app.register_blueprint({{ entity.name.lower() }}_bp, url_prefix='/api/{{ entity.name.lower() }}s')
    {% endfor %}

    with app.app_context():
        db.create_all()

    return app
